@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap');

.home {
    height: 100vh;
    position: relative;
    padding-top: 54px;
    font-family: 'Patrick Hand SC', cursive;
}

#tsparticles {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.home .typedDiv {
    text-align: center;
    position: relative;
    top: 25%;
}

.home .homeTyped {
    color: #e91f63;
    white-space: nowrap;
    font-size: 700%;
    font-weight: bold;
    text-align: center;
}

/* typed.js cusor */
.home .homeTyped + span {
    color: #e91f63;
    font-size: 700%;
}

.home .arrowDiv {
    position: absolute;
    bottom: 1%;
    left: calc(50vw - (150px / 2));
    width: 150px;
}

.home .arrowDiv:hover {
    background-color: rgb(233 31 99 / 15%);
    transform: scale(1.05);
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .home .homeTyped {
        font-size: 500%;
    }
    .home .homeTyped + span {
        color: #e91f63;
        font-size: 500%;
    }
}

@media screen and (max-width: 480px) {
    .home .homeTyped {
        font-size: 350%;
    }
    .home .homeTyped + span {
        color: #e91f63;
        font-size: 350%;
    }
}
