.home {
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 54px;
}

#tsparticles {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.home .typedDiv {
    text-align: center;
    position: relative;
    top: 20%;
}

.home .homeTyped {
    color: #e91f63;
    white-space: nowrap;
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
}

/* typed.js cusor */
.home .homeTyped + span {
    color: #e91f63;
    font-size: 6rem;
}

.home .contactLinks {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20%;
}

.home .contactIcon {
    margin: 10px;
    color: #515357;
    transition: all 1s ease;
}

.home .contactIcon:hover {
    color: #e91f63;
}

.home .arrowDiv {
    position: absolute;
    bottom: 1%;
    left: calc(50vw - (150px / 2));
    width: 150px;
}

.home .arrowDiv:hover {
    background-color: rgb(233 31 99 / 15%);
    transform: scale(1.05);
    border-radius: 50%;
}

@media screen and (max-width: 992px) {
    .home .homeTyped {
        font-size: 5rem;
        font-weight: 600;
    }
    .home .homeTyped + span {
        color: #e91f63;
        font-size: 5rem;
    }
}

@media screen and (max-width: 768px) {
    .home .homeTyped {
        font-size: 4rem;
    }
    .home .homeTyped + span {
        color: #e91f63;
        font-size: 4rem;
    }
}

@media screen and (max-width: 576px) {
    .home .homeTyped {
        font-size: 2rem;
    }
    .home .homeTyped + span {
        color: #e91f63;
        font-size: 2rem;
    }
}
