.home {
    height: 100vh;
    position: relative;
    padding-top: 54px;
    font-family: 'Open Sans', sans-serif;
}

#tsparticles {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.home .typedDiv {
    text-align: center;
    position: relative;
    top: 20%;
}

.home .homeTyped {
    color: #e91f63;
    white-space: nowrap;
    font-size: 700%;
    font-weight: 900;
    text-align: center;
}

/* typed.js cusor */
.home .homeTyped + span {
    color: #e91f63;
    font-size: 700%;
}

.contactLinks {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20%;
    z-index: 1;
}

.contactIcon {
    margin: 10px;
    color: #515357;
    transition: all 1s ease;
}

.contactIcon:hover {
    color: #e91f63;
}

.home .arrowDiv {
    position: absolute;
    bottom: 1%;
    left: calc(50vw - (150px / 2));
    width: 150px;
}

.home .arrowDiv:hover {
    background-color: rgb(233 31 99 / 15%);
    transform: scale(1.05);
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .home .homeTyped {
        font-size: 450%;
    }
    .home .homeTyped + span {
        color: #e91f63;
        font-size: 450%;
    }
}

@media screen and (max-width: 480px) {
    .home .homeTyped {
        font-size: 350%;
    }
    .home .homeTyped + span {
        color: #e91f63;
        font-size: 350%;
    }
}
