.nav {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .navLinks {
    position: absolute;
    right: 5%;
}

.nav span {
    margin-left: 3em;
    color: #333333;
    font-size: large;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.nav span:hover {
    cursor: pointer;
    color: #e91f63;
}

.nav .navButton {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav .navLinks {
        display: none;
    }

    .nav .navButton {
        display: block;
        position: absolute;
        right: 5%;
    }

    .smallScreenNav {
        border-top: 1px solid #eee;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
        background-color: #fff;
        font-weight: bold;
        z-index: 1;
        position: fixed;
        top: 64px;
        left: 0;
        right: 0;
    }
    .smallScreenNav span {
        display: block;
        text-align: center;
        margin: 2%;
        letter-spacing: 2px;
        color: #333333;
        font-size: large;
        transition: all 0.3s ease-in-out;
    }

    .smallScreenNav span:hover {
        cursor: pointer;
        color: #e91f63;
    }
}
