.about {
    min-height: 100vh;
    width: 100%;
}

.aboutDiv {
    padding-top: calc(54px + 5%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.aboutMe {
    text-align: left;
    width: 55%;
    color: #333333;
    font-size: 1.3rem;
    line-height: 1.95rem;
}

.aboutDiv h1 {
    color: #e91f63;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 30px;
}

.skillTagCloud {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

@media screen and (max-width: 768px) {
    .about .aboutDiv {
        flex-direction: column;
    }

    .about .aboutDiv .aboutMe {
        width: 90%;
        margin: 0 auto;
    }

    .skillTagCloud {
        margin: auto;
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .about .aboutDiv .aboutMe {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 0;
        width: 100%;
    }
}
