.about {
    min-height: 100vh;
}

.about .aboutTitle {
    text-align: center;
    margin-top: 30px;
    color: #a86860;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
}

.about .aboutMe {
    text-align: left;
    margin-top: 30px;
    color: #977e56;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.aboutSkills {
    margin: auto;
    margin-top: 3.75em;
    width: 60%;
}
