.skills {
    border: solid #cfe2f3;
    /* background-color: #fff; */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.skillsTitle {
    text-align: center;
    color: #a86860;
    font-size: 2em;
}

.skillInfoList {
    display: flex;
    text-align: center;
}

.skillItem {
    margin: 1.75rem 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skillIcon {
    height: 3.75em;
    width: auto;
    padding-top: 0.75em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #607ca8;
}

.skillIcon:hover {
    animation: shrink 0.5s;
}

@media screen and (max-width: 480px) {
    .skillsTitle {
        font-size: 1.5em;
    }

    .skillIcon {
        height: 2.5em;
        width: auto;
        padding-top: 0.25em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: #607ca8;
    }
}
