.contact {
    height: calc(100vh - 54px);
    background-color: #f3f4f3;
    width: 100%;
}

.contact .contactTitle {
    text-align: center;
    color: #e91f63;
    font-size: 3rem;
    padding-top: 54px;
    font-weight: bold;
}

.contact .contactAll {
    display: flex;
    margin: 0;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

.contact .contactLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.contact .contactImg {
    width: 30%;
    margin: 0 auto;
}

.contact img {
    border-radius: 50%;
    animation: spinOut 0.2s;
    width: 70%;
    margin: 0 auto;
}

.contact img:hover {
    animation: spinIn 0.2s;
}

.contact .contactLinks {
    display: flex;
    margin: 0 auto;
}

.contact .contactIcon {
    animation: spinOut 0.2s;
    margin: 10px;
    color: #515357;
}

.contact .contactIcon:hover {
    animation: spinIn 0.2s;
}

.contact .mailButton {
    width: 25%;
    height: auto;
    margin: 0 auto;
}

.contact .smallScreenEmail {
    display: none;
}

.contact .contactForm {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .contact {
        min-height: 100vh;
    }

    .contact .contactAll {
        flex-direction: column;
    }

    .contact .contactLeft {
        width: 80%;
        margin: 2% auto 0 auto;
    }

    .contact .mailButton {
        display: none;
    }

    .contact .smallScreenEmail {
        display: flex;
    }

    .contact .contactForm {
        margin: 5% auto 0 auto;
    }
}
