.contact {
    height: calc(100vh - 54px);
    background-color: #f3f4f3;
    width: 100%;
}

.contact .contactTitle {
    text-align: center;
    color: #e91f63;
    font-size: 3rem;
    padding-top: 54px;
    font-weight: bold;
}

.contact .contactAll {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 3% auto;
}

.contact .contactLeft {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.contact img {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    margin: auto;
    animation: spinOut 0.2s;
}

.contact img:hover {
    animation: spinIn 0.2s;
}

.contact .contactLinks {
    position: relative;
    top: 0;
}

.contact .contactIcon {
    animation: spinOut 0.2s;
    margin: 10px;
    color: #515357;
}

.contact .contactIcon:hover {
    animation: spinIn 0.2s;
}

.contact .mailButton {
    position: relative;
    top: -2%;
    width: 25%;
    height: auto;
    margin: auto;
}

.contact .contactForm {
}

/* @media screen and (max-width: 768px) {
    .contact .contactCard {
        width: 60%;
        margin: 7% auto;
    }
}

@media screen and (max-width: 480px) {
    .contact .contactTitle {
        font-size: 2rem;
    }
    .contact .contactCard {
        width: 80%;
    }
}  */
