.project {
    min-height: 100vh;
}

.project .projectTitle {
    text-align: center;
    margin-top: 30px;
    color: #a86860;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
}

.project .projectGalery {
    width: 60%;
    margin-left: 20%;
    background-color: #fff;
    border: solid #cfe2f3;
    border-radius: 25px;
    margin-top: 30px;
    display: inline-block;
    text-align: center;
}

.project .projectGalery img {
    width: 40%;
    height: auto;
    display: inline-block;
    margin: 40px;
}

.modalButton {
    position: absolute;
    right: 15px;
}

.projectDetail {
    margin-top: 8%;
}

@media screen and (max-width: 768px) {
    .project .projectGalery img {
        width: 70%;
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {
    .project .projectTitle {
        font-size: 2rem;
    }

    .project .projectGalery {
        width: 80%;
        margin-left: 10%;
    }

    .project .projectGalery img {
        width: 80%;
        margin: 10px;
    }
}
